img {
    width:200px;
}
form {
    display: flex;
    flex-direction: column;
}
form input {
    width: 500px;
    margin-bottom: 3px; 
}
form input[type="submit"],form input[type="reset"] {
    width: 100px;
}
form label {
    margin-bottom: 10px; 
}
th span {
    margin-left: 3px; 
    visibility: hidden;
}
th:hover span {
    visibility: visible;
}