.navbar-default .navbar-nav > li > a:hover {
  background: #2A74BF;
  color: white; }

.footer {
  background: #666;
  padding: 10px;
  color: white;
  font-weight: bold; }

.page-header {
  color: #2A74BF;
  border-bottom: 1px solid #2A74BF; }

h1, h2 {
  color: #2A74BF;
  font-weight: bold; }

p {
  margin: 0; }

.related-classes .related-classes-item {
  margin-bottom: 15px; }
.related-classes .related-classes-first {
  background: #D7514C;
  border: 1px solid #D7514C; }
.related-classes .related-classes-second {
  border: 1px solid #2A74BF;
  background: #2A74BF; }
.related-classes .related-classes-third {
  border: 1px solid #D8C11D;
  background: #D8C11D; }
.related-classes .related-classes-forth {
  border: 1px solid #4D944B;
  background: #4D944B; }
.related-classes .related-classes-description {
  text-align: center;
  color: white;
  font-weight: bold;
  margin: 10px 0; }
