$bodyFont: normal 15px/20px Georgia, "Times New Roman", Times, serif;
$bodyFontColor:white;
$bodyBackground: #659a01;
$contentBackground:#666701;
$hcolor:#ffcc0d;
$h2FontStyle: normal;
$imgPadding: 10px;
$imgBorder: 1px solid white;
$briefWidth:auto;
$briefBackground:#677d01;
$briefFloat: none;
$aColor: $hcolor;
$tableWidth: 100%;
$tableBorderCollapse:collapse;
$thBackground: #94a34e;
$tdBackground: #677d01;
$tdBorderBottom:1px solid #acb876;